name: pr-chatops

# TODO: check if the a service is already deployed or being deployed
# TODO: add workflow for deleting services
# TODO: check if service is already deleted it being deleted
# TODO: show some kind of status updates regarding the state of deployment
# TODO: spike if Jenkins can trigger an update back to the PR to say deployment/termination is complete
# TODO: comment back the github action console URL for tracking
# TODO: code cleanup, see if you can use env vars, better json files etc
# TODO: implement serial execution, currenty the jobs are parallel
# TODO: add status flag to show the current status of deployment

on:
  issue_comment:
    types: [created]
  workflow_dispatch:
    inputs:
      kube_context:
        description: 'Kube context of the virtual cluster'
        required: true
      issue_number:
        description: 'pull request number'
        required: true


jobs:
  list-service:
    # list all services in the form of a checklist
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '/list-services') }}
    steps:
      - # show github context
        name: show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - # react to list comment with eyes
        name: add reation to comment
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"eyes"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"

      - # create message file template for comment
        name: creating message file
        run: |
          # service file
          cat << EOF > service.txt
          ### Hello @${{ github.event.comment.user.login }}!

          #### Select the services you would like to deploy:

          - [ ] service1
          - [ ] service2
          - [ ] service3
          - [ ] service4
          - [ ] service5
          - [ ] service6
          - [ ] service7
          - [ ] service8
          - [ ] service9
          - [ ] service10
          EOF

          # message file
          cat << EOF > message.json
          {
            "body": "$(cat service.txt |  sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF

          # echo "Printing message.json"
          # cat message.json | envsubst

      - # comment the list of services in the pull request
        name: comment services in the pull request
        run: |
          # comment on the pr to list the sevices
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - # remove comment template files
        name: remove service and message files
        run: |
          echo "Removing service file: service.txt"
          [ -e service.txt ] && rm service.txt
          echo "Removing comment payload file: message.json"
          [ -e message.json ] && rm message.json


  deploy-service:
    # deploy all services from the checklist
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '/deploy-services') }}
    steps:
      - # show github context
        name: show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - # find the service list and parse the services to be deployed
        name: find Comment
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          token: ${{github.token}}
          issue-number: ${{github.event.issue.number}}
          body-includes: Select the services you would like to deploy
          direction: last

      - # create error message file template for comment
        name: creating error message file
        run: |          
          # create error file
          cat << EOF > error.txt
          ### Hello @${{ github.event.comment.user.login }}!

          #### No services checked or service list not found!

          * Please check at least one service from the service list.
          * Or comment _/list-services_ to list the available services.
          * You can also comment _/help_ to see all the available commands.
          EOF

          # create error json file
          cat << EOF > error_message.json
          {
            "body": "$(cat error.txt | sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF
          
      - # validate if service list exists
        name: check if services exist and they are checked
        run: |
          # exit workflow if there are no services checked
          if [ $(echo "${{ steps.fc.outputs.comment-body }}" | grep 'x' | wc -l | awk -F: '$NF+0 == 0') ];
          then
            # send thumbs down reaction to /deploy-services indicating failure
            curl ${{github.event.comment.url}}/reactions \
              -X POST \
              -d '{"content":"-1"}' \
              -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
              -H "Authorization: token ${{github.token}}"

            # coment error message
            curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
              -X POST \
              -H "Accept: application/vnd.github.v3+json" \
              -H "Authorization: token ${{github.token}}" \
              --data-binary "@error_message.json"

            # remove error files and exit workflow
            [ -e error.txt ] && rm error.txt
            [ -e error_message.json ] && rm error_message.json
            exit 1              
          fi

      - # remove error template files
        name: remove service and message files
        run: |
          # remove error files
          echo "Removing error file: error.txt"
          [ -e error.txt ] && rm error.txt
          echo "Removing error json file: error_message.json"
          [ -e error_message.json ] && rm error_message.json          

      - # react to deploy comment with rocket
        name: add reation to comment
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"rocket"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"

      - # create message file template for comment
        name: creating message file
        run: |
          # service file
          cat << EOF > service.txt
          ### Hello @${{ github.event.comment.user.login }}!

          #### The following services will be deployed:

          $(echo "${{ steps.fc.outputs.comment-body }}" | grep 'x' | tr -d '-')
          EOF

          # message file
          cat << EOF > message.json
          {
            "body": "$(cat service.txt | sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF

          echo "Printing message.json"
          cat message.json | envsubst

      - # comment the list of services to be deployed
        name: comment services to be deployed
        run: |
          # comment on the pr to list the sevices to be deployed
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - # remove comment template files
        name: remove service and message files
        run: |
          echo "Removing service file: service.txt"
          [ -e service.txt ] && rm service.txt
          echo "Removing comment payload file: message.json"
          [ -e message.json ] && rm message.json


  delete-service:
    # list all services in the form of a checklist
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '/delete-services') }}
    steps:
      - # show github context
        name: show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - # react to valid comment with thumbs up
        name: add reation to comment
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"+1"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"

      - # create message file template for comment
        name: creating message file
        run: |
          # service file
          cat << EOF > service.txt
          ### Hello @${{ github.event.comment.user.login }}!

          #### The Preview App will be deleted! Thanks - ChatOps!
          EOF

          # message file
          cat << EOF > message.json
          {
            "body": "$(cat service.txt | sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF

      - # comment the preview app to be deleted
        name: comment delete services
        run: |
          # comment on the pr to list the sevices to be deployed
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - # remove comment template files
        name: remove service and message files
        run: |
          echo "Removing service file: service.txt"
          [ -e service.txt ] && rm service.txt
          echo "Removing comment payload file: message.json"
          [ -e message.json ] && rm message.json


  help-service:
    # list all services in the form of a checklist
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '/help') }}
    steps:
      - # show github context
        name: show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - # react to valid comment with thumbs up
        name: add reation to comment
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"+1"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"

      - # create message file template for comment
        name: creating message file
        run: |
          # service file
          cat << EOF > service.txt
          ### Hello @${{ github.event.comment.user.login }}!

          #### Welcome to Preview App ChatOps!

          Comment the following to trigger ChatOps bot:

          * /list-services         ( To list all the available services)
          * /deploy-services       ( To deploy the selected services)
          * /delete-services       ( To delete the preview app )
          * /download--kube-config ( download the kubeconfig for preview app if exists)
          * /help                  ( To list all the available chatops commands)

          EOF

          # message file
          cat << EOF > message.json
          {
            "body": "$(cat service.txt | sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF

      - # list all the help commands via comment
        name: comment all help commands
        run: |
          # comment on the pr to list the sevices to be deployed
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - # remove comment template files
        name: remove service and message files
        run: |
          echo "Removing service file: service.txt"
          [ -e service.txt ] && rm service.txt
          echo "Removing comment payload file: message.json"
          [ -e message.json ] && rm message.json


  kube-artifact-service:
    # list kube context of a virtual cluster
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' }}
    steps:
      - # show github context
        name: show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - # delete previous artifacts
        name: Delete Artifact by Name
        if: ${{ github.event.inputs.kube_context }} && ${{ github.event.inputs.issue_number }}
        uses: jimschubert/delete-artifacts-action@v1
        with:
          log_level: 'debug'
          artifact_name: 'kubeconfig_${{ github.event.inputs.issue_number }}'
          min_bytes: '0'          

      - # create kubeconfig file
        name: create kube config file and comment message file
        if: ${{ github.event.inputs.kube_context }} && ${{ github.event.inputs.issue_number }}
        run: |
          # generate kubeconfig file by converting the base64 string
          echo ${{ github.event.inputs.kube_context }} | base64 --decode  >> kubeconfig.yaml

      - # upload the kubeconfig file as an artifact
        name: upload kubeconfig as artifact
        uses: actions/upload-artifact@v2
        with:
          name: kubeconfig_${{ github.event.inputs.issue_number }}
          path: kubeconfig.yaml
          
      - # let devs know that the kubeconfig is ready
        name: create kubeconfig ready message
        if: success()
        run: |
          # generating kubeconfig ready message

          cat << EOF > service.txt
          ### Hello!

          #### kubeconfig for the preview app cluster is generated.

          Download this kubeconfig file by commenting /download-config in this PR
          EOF
          
          # message file
          cat << EOF > message.json
          {
            "body": "$(cat service.txt | sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF
          
      - # comment on pr to denote kubeconfig file is ready
        name: comment kubeconfig file
        if: success()
        run: |
          # comment on the pr to denote kubeconfig file is ready
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.inputs.issue_number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - # remove comment template files
        name: remove service and message files
        run: |
          echo "Removing service file: service.txt"
          [ -e service.txt ] && rm service.txt
          echo "Removing comment payload file: message.json"
          [ -e message.json ] && rm message.json


  download-service:
    # list all services in the form of a checklist
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '/download-kube-config') }}
    steps:
      - # show github context
        name: show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - # react to valid comment with thumbs up
        name: add reation to comment
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"+1"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"          
      
      - # download kubeconfig artifact
        name: get artifact id
        run: |
          # get artifact id
          curl \
            -H "Accept:application/vnd.github.v3+json" \
            -H "Authorization:token ${{github.token}}" \
            https://api.github.com/repos/mkmad/github_actions/actions/artifacts \
            | grep '"id":' | awk '{print $2}' | sed 's/,//' >> artifact_id.txt

          cat artifact_id.txt

      - # generate service file
        name: artifact download service file
        run: |
          # generating artifact download ready message

          cat << EOF > artifact_service.txt
          ### Hello @${{ github.event.comment.user.login }}!

          #### Kubeconfig artifact is ready.

          **NOTE: This link will expire in 30s**
          ** If you need to regenerate the link comment: /download--kube-config again***

          EOF

      - # generate kubeconfig artifact download link
        name: generate kubeconfig artifact download link
        run: |
          # get download link
          curl \
            -H "Accept:application/vnd.github.v3+json" \
            -H "Authorization:token ${{github.token}}" \
            https://api.github.com/repos/mkmad/github_actions/actions/artifacts/$(cat artifact_id.txt)/zip \
            -I | grep "location" | awk '{print $2}' >> artifact_download_link.txt

          echo "click [here]($(cat artifact_download_link.txt)) to download your kubeconfig" >> artifact_service.txt

          # message file
          cat << EOF > message.json
          {
            "body": "$(cat artifact_service.txt | sed 's/$/\\n/' | tr '\n' ' ';echo)"
          }
          EOF

          cat message.json

      - # comment the artifact download link back to the user
        name: comment kubeconfig file
        if: success()
        run: |
          # comment on the pr to list the sevices to be deployed
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - # remove comment template files
        name: remove service and message files
        run: |
          echo "Removing service file: artifact_service.txt"
          [ -e artifact_service.txt ] && rm artifact_service.txt
          echo "Removing comment payload file: message.json"
          [ -e message.json ] && rm message.json            