name: pr-chatops

on:
  push:
  pull_request:
  issue_comment:
    types: [created]
  workflow_dispatch:

jobs:
  list-services:
    ## Just to react to valid comment with rocket
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
          github.event.issue.pull_request &&
          startsWith(github.event.comment.body, '/list-services') }}
    steps:
      -
        name: Show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - 
        name: Reaction
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"eyes"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"

      - 
        name: comment PR
        run: |
          # comment on the pr to list the sevices
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}" \
            -d '{"body": "Hello @${{ github.event.comment.user.login }}!\nList the services you would like to deploy:\n- [ ] service1\n- [ ] service2\n- [ ] service3\n- [ ] service4\n- [ ] service5\n- [ ] service6\n- [ ] service7\n- [ ] service8\n- [ ] service9\n- [ ] service10\n"}'

  deploy-services:
    ## Just to react to valid comment with rocket
    runs-on: ubuntu-latest
    if: ${{ github.event.comment &&
          github.event.issue.pull_request &&
          startsWith(github.event.comment.body, '/deploy-services') }}
    steps:
      -
        name: Show context
        run: |
          cat >/dev/null <<'END'
            ${{ toJson(github) }}
          END

      - 
        name: Reaction
        run: |
          # send reaction to comment to show build was triggered
          curl ${{github.event.comment.url}}/reactions \
            -X POST \
            -d '{"content":"rocket"}' \
            -H "Accept: application/vnd.github.squirrel-girl-preview+json" \
            -H "Authorization: token ${{github.token}}"

      - 
        name: Find Comment
        uses: peter-evans/find-comment@v1
        id: fc
        with: 
          token: ${{github.token}}
          issue-number: ${{github.event.issue.number}}
          body-includes: List the services you would like to deploy
          direction: last

      - name: Print comment messages
        run: |
          echo ${{ steps.fc.outputs.comment-id }}
          echo "${{ steps.fc.outputs.comment-body }}"

      - 
        name: Add comment payload to message file
        run: |
          echo '{"body":"Hello @${{ github.event.comment.user.login }}!\nThe following services will be deployed:\n\n'$(echo '\"${{ steps.fc.outputs.comment-body }}\"' | grep 'x' | sed 's/$/\\n/' | tr -d '-' | tr '\n' ' ';echo)'"}' >> message.json

      - 
        name: Comment services
        run: |
          # comment on the pr to list the sevices to be deployed
          curl  "https://api.github.com/repos/${{github.repository}}/issues/${{github.event.issue.number}}/comments" \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{github.token}}" \
            --data-binary "@message.json"

      - 
        name: Remove message file
        run: |
            echo "Removing comment payload file: message.json"
            rm message.json